/* Custom */

#particles-js {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.parallax-container {
	height: 300px;
}

.fa-size {
	font-size: 5rem;
}

.fb {
	color: #3b5998;
}

.camps {
	padding: 20px;
	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.22);
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.22);
}

.camps:hover {
	padding: 20px;
	border-radius: 0 0 2px 2px;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.42);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.42);
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.42);
	color: #F44336;
}

footer {
	padding-bottom: 0px;
}

#map {
	width: 100%;
	height: 300px;
}

#events {
	padding-top: 5%;
	padding-bottom: 5%;
}

.back-to-top {
	position: absolute;
	left: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.a-font {
	font-size: 20px;
}

.tabs .indicator {
	height: 3px;
	background-color: black;
}

.event_img {
	max-width: 50%;
	max-height: 50%;
}

.modal {
	max-height: 80%;
	width: 80%;
}

/* TEAM PAGE */
.our-team {
	text-align: center;
	position: relative;
}

.our-team:after {
	background: #d4d4d4;
}

.our-team .pic {
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.our-team .pic:before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(53, 53, 53, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transform: scale(1.2);
	transition: all 0.3s linear 0s;
}

.our-team:hover .pic:before {
	opacity: 1;
	transform: scale(0.97);
}

.our-team img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.our-team .social {
	width: 100%;
	position: absolute;
	top: 45%;
	left: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	opacity: 0;
	transform: scale(1.2);
	transition: all 0.3s linear 0s;
}

.our-team:hover .social {
	opacity: 1;
	transform: scale(1);
}

.our-team .social li {
	display: inline-block;
}

.our-team .social li a {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	background: #fff;
	margin: 0 3px;
	font-size: 14px;
	color: #F44336;
	transition: all 0.3s linear 0s;
}

.our-team .social li a:hover {
	background: #F44336;
	color: #fff;
}

.our-team .team-content {
	padding-bottom: 35px;
}

.our-team .title {
	font-size: 22px;
	color: #2a2b2f;
	text-transform: capitalize;
	margin: 15px 0 10px 0;
}

.our-team .post {
	font-size: 18px;
	color: #696969;
	text-transform: capitalize;
}

@media only screen and (max-width: 990px) {
	.our-team {
		margin-bottom: 30px;
	}
}

.divider {
	margin-bottom: 5%;
}
.event_camp_spacer {
	padding-bottom: 6%;
}